<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html>
	<!--Rendering HelcimPayIframe-->
<head>
	<!--Helcim Payment API-->
	<script type="text/javascript" src="https://secure.helcim.app/helcim-pay/services/start.js"></script>

	<!--Shippo API-->
	<script>
	curl --location 'https://api.goshippo.com/parcels/' \
	--header 'Authorization: ShippoToken shippo_live_3abb9901a8c0de8492189a3fb601134178170626' \
	--header 'Content-Type: application/json' \
	--data '{
	"length": 5,
	"width": 5,
	"height": 5,
	"distance_unit": "cm",
	"weight": 2,
	"mass_unit": "lb",
	"template": "",
	"metadata": "Wool Box1"
	}'

	curl https://api.goshippo.com/transactions/ \
	-H "Authorization: ShippoToken shippo_live_3abb9901a8c0de8492189a3fb601134178170626"

	curl https://api.goshippo.com/transactions/70ae8117ee1749e393f249d5b77c45e0 \
	-H "Authorization: ShippoToken shippo_live_3abb9901a8c0de8492189a3fb601134178170626"

	curl https://api.goshippo.com/tracks/usps/9205590164917312751089 \
	-H "Authorization: ShippoToken shippo_live_3abb9901a8c0de8492189a3fb601134178170626"

	curl  https://api.goshippo.com/customs/items/ \
	-H "Authorization: ShippoToken sshippo_live_3abb9901a8c0de8492189a3fb601134178170626"
</script>
</head>

<body>
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
			<form id="form">
				<div id="user-info">
					<div class="form-field">
						<input required class="form-control" type="text" name="name" placeholder="Name..">
					</div>
					<div class="form-field">
						<input required class="form-control" type="email" name="email" placeholder="Email..">
					</div>
				</div>

				
				
				
				<div id="shipping-info">
					<hr>
					<p>Shipping Information:</p>
					<hr>
					<div class="form-field">
						<input class="form-control" type="text" name="address" placeholder="Address..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="city" placeholder="City..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="state" placeholder="State..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="country" placeholder="Zip code..">
					</div>
				</div>

				<hr>
				<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
			</form>
		</div>
		<br>

<div class="box-element hidden" id="payment-info">

<!--Initialization helcim payload-->
<script>
	const payload = {
		method: 'POST',
		headers: {
		  accept: 'application/json',
		  'api-token': K2K39trxSR9gkcHRtZM9SG5sk,
		  'content-type': 'application/json'
		},
		body: JSON.stringify({paymentType: 'purchase', amount: 100, currency: 'CAD'})
	  }
	  
	  axios.post('https://api.helcim.com/v2/helcim-pay/initialize', payload)
		.then(response => console.log(response))
		.catch(err => console.error(err));	
</script>

<!--Implementating HelcimPayIframe-->
<a href="javascript: appendHelcimPayIframe(checkoutToken, false)">
	Pay Now
 </a>

<!--Process Payment button-->
<script>
window.addEventListener('message', (event) => {
  
	const helcimPayJsIdentifierKey = 'helcim-pay-js-' + checkoutToken;
	
	if(event.data.eventName === helcimPayJsIdentifierKey){
	  
	  if(event.data.eventStatus === 'ABORTED'){
		 console.error('Transaction failed!', event.data.eventMessage);
	  }
	  
	  if(event.data.eventStatus === 'SUCCESS'){
		console.log('Transaction success!', event.data.eventMessage);
	  }
	  
	}
	
  }); 
</script>

			{% comment %} <button id ="make-payment">Make Payment</button> {% endcomment %}
</div>
			
</div>

	<div class="col-lg-6">
		<div class="box-element">
			<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
			<hr>
			<h3>Order Summary</h3>
			<hr>
			{% comment %} render {% endcomment %}
			{% for item in items %} 
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex:1"><p>size {{item.product.size}}</p></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>${{item.product.price}}</p></div>
				<div style="flex:1"><p>quantity {{item.quantity}}</p></div>
			</div>
			{% endfor %}

			<h5>Items: {{order.get_cart_items}}</h5>
			<h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
			{% if item.product.size %}
                <p>Selected Size: {{ size }}</p>
            {% endif %}
		</div>
	</div>
</div>

{% comment %} <!--SCRIPT-->
<script type="text/javascript" src="https://secure.myhelcim.com/js/version2.js"> </script>

<!--FORM-->
<form name="helcimForm" id="helcimForm" action="checkout.html" method="POST">

	<!--RESULTS-->
	<div id="helcimResults"></div>

	<!--SETTINGS-->
	<input type="hidden" id="token" value="58ae1d44d7ac6959332969">
	<input type="hidden" id="language" value="en">

	<!--CARD-INFORMATION-->
	Card Token: <input type="text" id="cardToken" value="1"><br/>
	Credit Card Number: <input type="text" id="cardNumber" value=""><br/>
	Expiry Month: <input type="text" id="cardExpiryMonth" value=""> 
  	Expiry Year: <input type="text" id="cardExpiryYear" value=""><br/>
	CVV: <input type="text" id="cardCVV" value=""><br/>

	<!--AVS- INFORMATION-->
	Card Holder Name: <input type="text" id="cardHolderName" value=""><br/>
	Card Holder Address: <input type="text" id="cardHolderAddress" value=""><br/>
	Card Holder Postal Code: <input type="text" id="cardHolderPostalCode" value=""><br/>

	<!--OPTIONAL-AMOUNT-->
	Amount: <input type="text" id="amount" value="100.00"><br/>

	<!--BUTTON-->
	<input type="button" id="buttonProcess" value="Process" onclick="javascript:helcimProcess();">

</form>  {% endcomment %}

<script type="text/javascript">
	var shipping='{{order.shipping}}'
	/*	username and email can be passed as float*/
	var total ='{{order.get_cart_total}}' 
	var selectedSize = 'Small';

	if(shipping == 'False'){
		document.getElementById('shipping-info').innerHTML = ''
	}
 
	if(user != 'AnonymousUser'){
		document.getElementById('user-info').innerHTML = ''
	} 

	if (shipping == 'False' && user != 'AnonymousUser') { 
		//Hide entire form if user is logged in and shipping is False
		document.getElementById('form-wrapper').classList.add("hidden"); 
		//show payment if logged in user wants to buy an item that does not require shipping
		document.getElementById('payment-info').classList.remove("hidden");
	}  

	var form = document.getElementById('form')

	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form submitted...')
		document.getElementById('form-button').classList.add('hidden')
		document.getElementById('payment-info').classList.remove('hidden')
		})
	document.querySelectorAll('.size-select').forEach(function(select) {
		select.addEventListener('change', function() {
			selectedSize = this.value;
		})	
	})

	{% comment %} document.getElementById('make-payment').addEventListener('click', function(e){
		submitFormData() 
	})  {% endcomment %}

	function submitFormData(){
		console.log('Payment button clicked')

		var userFormData = {
			'name':null,
			'email':null,
			'total':total,
		}

		var shippingInfo = {
			'address':null,
			'city':null,
			'state':null,
			'zipcode':null,
		}

		if(shipping != 'False'){
			shippingInfo.address = form.address.value
			shippingInfo.city = form.city.value
			shippingInfo.state = form.state.value
			shippingInfo.zipcode = form.zipcode.value
		}

		if(user == 'AnonymousUser'){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
			
		}

		var url = '/process_order/'
		fetch(url,{
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo, 'selected_Size':selectedSize })
		})
		.then((response)=> response.json())
		.then((data) => {
			console.log('success:',data);
			alert('Transaction completed');
			cart = {}
			document.cookie='cart=' + JSON.stringify(cart) + ";domain=;path=/"

			window.location.href = "{% url 'store' %}"
		
		})

	}


	{% comment %} csrftoken=form.getElementsByTagName("input")[0].value
	console.log('Newtoken:',form.getElementByTagName("input")[0].value)  {% endcomment %}
	
	 
</script>

</body>

</html>

{% endblock content %}
