body{
	background-color: hsl(0, 0%, 98%);
    
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    transition: all 1.1s;
}

.thumbnail:hover{
    transform: scale(1.2);
} 

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: rgb(76, 158, 190)!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
    display: block;
    text-align: center;
    color:#fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
    
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color: #fff;
    transition: 0.5s;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
}
.text-box h1:hover{
    -webkit-text-stroke: 2px #fff;
    color:transparent; 
} 
.floating-logo{
    box-shadow: 2px 2px 5px skyblue;
    display: flex;
    width:45px;
    height:50px;
}

/* .row{
    margin: 0%;
    top: 0%;
}

.col-lg-12{
    margin: 0%;
    top: 0%;  
}

.col-lg-6{
    margin: 0%;
    top: 0%;  
}

.box-element{
    margin: 0%;
    top: 0%; 
} */


/* visit us to know more */
/* .href {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer; 
 }  */
/* footer */
/* .href:hover {
    border: 1px solid rgb(72, 193, 241);
    background: rgb(72, 193, 241);
    transition: 1s;
}
@media(max-width: 200px){
    .text-box h1{
        font-size: 20px;
    }
}  */

/* Description */
/* .description {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.description1{ 
    flex-basis: 31%;
    background:rgb(72, 193, 241);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    } */

/* explore */
.explore {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.container{
    cursor: pointer;
    box-shadow: 0 4px 6px -1px skyblue;
    border-radius: 10px;
    /* transition: all 1.1s; */
    
}
/* .container:hover{
    transform: scale(1.2);
} */

.explore-col{
    flex-basis: 31%;
    background:rgb(72, 193, 241);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h1{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
h2{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.explore-col:hover{
    box-shadow:0 0 20px 0px skyblue;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}





